body {
    background-color: lightslategray;
}
p{
    font-size: 18px;
}
#contact-info{
    background-color: rgb(164, 190, 216);
}
.mainCard{
    background-color: lightyellow;
}
.media-body{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}